.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}


.heading div{
    background-color: rgb(39, 39, 39, 0.274);
    height:2px;
    width: 30vw;
}

.heading p{
    margin: 30px;
    color:rgb(71, 69, 69);
    font-size: 2vmax ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}